@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Marketing Platform</h1>
    <p class="lead">SMS, MMS & Email Marketing Platform - Coming Soon</p>
</div>
